*{
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background: #FFD439;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.left-part{
    display: flex;
    gap: 6rem;
}

.back{
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    margin-left: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-self: left;
}

.logo>h2{
    color: #000;
    text-align: center;
    
    /* 標題 */
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo>.car{
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    background: url(/img/Car.png);
}

.menu{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 2rem;
    margin-right: 3rem;
}

.menu>a{
    color: #000;
    text-align: center;
    text-decoration: none;
    
    /* 標題 */
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10%;
    gap:25px;
    max-width: 1300px;
    margin: 0 auto;
}

.content img{
    height: 12rem;
    width: 12rem;
}

.content .choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    text-align: center;
    height: 18rem;
    width: 25rem;

    
    /* 標題 */
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choice:hover {
    background: #FFD439;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 10px;
}


.header a:hover{
    font-size: 5rem;
    font-weight: bold;
}

.header img:hover{
    height: 8rem;
    width: 8rem;
}
