.wrap{
    height: 100vh;
    display: flex;
}
.content{
    display: flex;
    justify-content: space-evenly;
    margin: 25vh auto;
}

.content img{
    height: 12rem;
    width: 12rem;
}

.content .choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    text-align: center;
    height: 18rem;
    width: 24rem;

    /* 標題 */
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choice:hover {
    background: #FFD439;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 10px;
}

