.wrap{
    height: 100%;
    align-items: center;
  }
  
  .container {
    width: 600px;
    margin: auto;
  }
  
  .input-field {
    display: flex;
    margin:10px 0;

  }
  
  .label {
    width: 180px;
    font-size: 20px;
    text-align: center;
    /*border: 2px solid black;*/
    border-radius: 10px;
    background-color: #FFD439;
  }
  
  .input {

    border:none;
    margin-left: 5%;
    width: 15%;

    font-size: 16px;
    display: inline;
  
  }
  
  .select {
    border:none;
    margin-left: 5%;
    width: 15%;
    font-size: 16px;
  }

  .check {
    border:none;
    margin-left: 5%;
    width: 50%;
    font-size: 16px;
  }
  .tag {
    margin-left: 5%;
    width: 7%;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    background-color: #FFD439;
  }

  .pwd1 {
    border:none;
    margin-left: 5%;
    width: 6%;
    font-size: 16px;
  }
  .pwd2 {
    border:none;
    margin-left: 0%;
    width: 15%;
    font-size: 16px;
  }
  .button {
    display: flex;
    width:11%;
    border: 2px solid ;
    font-size: 18px;
    border-color: #FFD439;
    /* border-radius: 25px; */
    margin: 0 auto;
    padding: 10px 0 ;
    margin-bottom: 50px;
    cursor: pointer;
    background-color: white;
    padding: 2% 2%;
    font-weight: bold;
  }
  .button1 {
    display: flex;
    width:11%;
    border: 2px solid ;
    font-size: 18px;
    border-color: #FFD439;
    /* border-radius: 25px; */
    margin: 0 auto;
    padding: 10px 0 ;
    margin-bottom: 50px;
    cursor: pointer;
    background-color:white;
    padding: 2% 2%;
    font-weight: bold;
    margin-left: 1%;
  }

  .button:hover,.button1:hover {
    color:black;
    background-color:#FFD439;
    /* border-radius: 25px; */
  }
  

  .sector{
    display: flex;
    /* margin:10px 0; */
  }
