.wrap{
    min-height: 100vh;
    display: flex;
    padding-bottom: 80px;
  }
  
.hospital-detail-container{
    width:75%;
    display: block;
    margin: 50px auto 0 auto;    
}

.container-name{
    font-size: 2rem;
    font-weight: bold;
}
  
.hospital-detail-content{
    display: flex;
}

.hospital-detail-content-text{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hospital_poster img{
    width: 500px;
    margin-top: 20px;
}

ol {
    list-style-type: decimal;
}