.wrap{
    min-height: 100vh;
    display: flex;
    padding-bottom: 80px;
}
  
.favorite-container{
    width:75%;
    display: block;
    margin: 0 auto;   
}

.content-table {
    border-collapse: collapse;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    
    width:100%;
    margin: 8rem auto 0px auto; 
    
}

.content-table thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    vertical-align:middle;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}

button{
    border: none;
    background-color: transparent;
    outline: 0 !important;
    display: block;
    margin: auto;   
    cursor: pointer;
}

.star{
    margin: 0px;
    padding: 0;
    width:40px;
    height:40px;
    cursor: pointer;
}

tr td img{
    width: 50px;
    height: 50px;
}