html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.header-bg{
    min-width: 1200px;
    height: 80px;
    background-color: rgb(255, 212, 57);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header-container{
    margin: 0 auto;
    height: 80px;    
    justify-content: space-between;    
    align-items: center;
    display: flex;
    min-width: 1200px;
}
.icon{ 
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-left: 15vw;
    vertical-align: middle;
}

.logo-name{
    color: rgb(0, 0, 0);
    font: 30px "微軟正黑體";
    position: absolute;
    top: 20px;
    margin-left: 380px;
    justify-content: center;
}

.icon-link,.link a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px 8px;
}

.link a:hover{
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: rgb(255, 120, 57);
    
}

.header-row{
    color:rgb(0, 0, 0);
    font: 18px "微軟正黑體";
    position: relative;
    float: right;
    margin-right: 10vw;
}

.link{
    display:inline;
    margin-right: 15px;
}


.main-menu { 
    background-color:transparent; 
    cursor:pointer; 
    display:inline-block; 
    font-weight: bold;
    padding:5px 0;
}

.sub-menu{ 
    color:#000000; 
    background-color:#ffffff; 
    margin:5px -5px; 
    list-style-type:none; 
    position:absolute; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1), 0 0 6px -1px rgba(0,0,0,.1);
    border-radius: 4px;
    min-width: 90px;
}
.sub-menu li{ 
    padding: 4px 8px; 
    text-align:left; 
    margin: 4px;

}
.sub-menu li:hover { 
    background-color: #d4d4d4; 
    margin: 4px;
    border-radius: 4px;
}
.sub-menu a { 
    text-align:left; 
    display:block; 
    text-decoration:none; 
    color:#000000; 
    font: 16px lighter;
}

.sub-menu a:hover {
    text-decoration:none; 
}