.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content-container{
	width: 100%;
	margin:auto;
	vertical-align: sub;

}

.content-row{
    margin:25px;
}
.box{
    display: inline;
    margin: 10px;
}

.box-img-bg{
    width:200px;
    height:200px;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    display: inline;
}

.box-img{
    width:200px;
    height:200px;

}


