.wrap{
    min-height: 100vh;
    display: flex;
}

.content{
    margin: 0 auto;
    display: block;
    min-width: 942px;

}

.content-container{
	margin: 15vh auto;

}

.content-col{

}

.content-row{
    margin:25px;
}
.box{
    display: inline;
    margin: 10px;

}

.box-img-bg{
    width:200px;
    height:200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    display: inline-block;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    
}

.box-img{
    width:120px;
    height:120px;
    margin-top: 20px;
    margin-left: 40px;
}

.content-ul{
    display: inline;
}

.content-lable{
    color:black;
    font-weight: bold;
    font-size: 24px;
    margin-top:10px;
    text-align: center;
    display:block
}



.color{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:rgb(119,187,221);
}

.color2{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:rgb(255, 136, 153);
}

.color3{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:rgb(119, 221, 119);
}

.color4{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:rgb(255, 221, 136);
}

.color5{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:rgb(119, 119, 170);
}
